<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#" (click)="navigateHome()">
      <fa-icon [icon]="faHome"></fa-icon>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item user-text">
          {{userText}}
        </li>
        <li class="nav-item active">
          <button class="btn btn-sm btn-outline-secondary" type="button" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">Posts search engine</h1>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
